* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Inter', sans-serif; }

.container {
  width: 1140px;
  margin: 0 auto; }

.navigation {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1976d2;
  height: 50px;
  color: white; }
  .navigation__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none; }
  .navigation__link {
    color: white;
    text-decoration: none;
    font-size: 20px; }
    .navigation__link:hover {
      color: #cec8c8; }

.header {
  padding: 62px 0 10px 0;
  background-color: #f3f6f9; }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__right {
    padding: 27px; }
  .header__left-img {
    width: 90%; }
  .header__nav {
    display: none; }
  .header h1 {
    width: 100px;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    margin: 0; }
  .header__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 84px; }
  .header__contacts {
    margin-top: 10px; }
    .header__contacts-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .header__contacts-item {
      margin-top: 20px;
      list-style-type: none;
      width: 50%; }
    .header__contacts-title {
      color: black;
      font-weight: 700;
      font-size: 20px; }
    .header__contacts-link {
      color: black;
      text-decoration: none;
      font-weight: 300;
      font-size: 18px;
      line-height: 30px; }
      .header__contacts-link:hover {
        color: #919197; }

.content {
  padding: 10px 0 10px 0;
  background-color: #f3f6f9; }
  .content__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .content__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 80px;
    letter-spacing: 6px;
    text-align: center; }
  .content ul li {
    margin-top: 25px;
    color: #555;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px; }
  .content .experience__ul-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .content .experience__ul-list .content__education-data {
      width: 100px; }
    .content .experience__ul-list .experience__ul-wrapper-title {
      width: 571px; }
    .content .experience__ul-list .content__education-title {
      color: #555;
      font-weight: 600;
      font-size: 20px;
      line-height: 32px; }
    .content .experience__ul-list .content__education-descr-first {
      margin-top: 10px; }
  .content__skills-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .content__skills-item {
    list-style-type: none;
    margin: 0.5vh 2vh; }
    .content__skills-item span {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      background-color: #edeff0;
      border: 1px solid transparent;
      display: inline-block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 11px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }

#education {
  width: 40%; }

.right-block {
  width: 60%; }

#skills {
  margin-top: 20px; }

.portfolio {
  background-color: #f0f0f0;
  padding: 10px 0; }
  .portfolio__title {
    color: black;
    font-weight: 500;
    font-size: 43px;
    line-height: 80px;
    letter-spacing: 6px;
    text-align: center; }
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 30px; }
  .portfolio__item {
    list-style-type: none;
    width: 40%;
    margin: 0 0 3vh 0; }
  .portfolio__img {
    width: 100%;
    height: 85%;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .portfolio__description span a {
    text-decoration: underline;
    color: black; }

.resume {
  background-color: #f3f6f9;
  padding: 10px 0; }
  .resume__wrapper {
    color: #000;
    background: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 10%; }
  .resume__title {
    width: 210px;
    float: right;
    text-align: right;
    font-size: 15px; }
  .resume__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px; }
    .resume__contacts-photo {
      max-width: 238px;
      margin: 0 30px 30px 30px; }
    .resume__contacts-img {
      width: 100%; }
  .resume__name {
    padding: 14px 0 27px 0;
    font-size: 27px; }
  .resume__info {
    color: #000;
    list-style-type: none; }
    .resume__info-item {
      margin: 10px 0 0 0;
      font-size: 14px;
      line-height: 1.5; }
      .resume__info-item span {
        font-weight: 500; }
        .resume__info-item span strong {
          font-size: 14px;
          line-height: 1.428571429;
          font-weight: bold; }
      .resume__info-item a {
        color: #00afea;
        text-decoration: none; }
  .resume__education {
    margin-top: 33px; }
    .resume__education ol {
      margin: 16px 0;
      padding: 0 0 0 33px; }
      .resume__education ol li {
        font-size: 13px;
        margin-top: 10px; }
  .resume__merit {
    margin-top: 33px; }
  .resume__skills {
    margin-top: 33px; }
    .resume__skills ol {
      margin: 16px 0;
      padding: 0 0 0 33px; }
      .resume__skills ol li {
        font-size: 13px;
        margin-top: 10px; }

@media (max-width: 1200px) {
  .container {
    width: 960px; }

  .navigation__ul {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .header h1 {
    width: initial; } }
@media (max-width: 992px) {
  .container {
    width: 720px; }

  .header h1 {
    font-size: 40px;
    line-height: 65px; }
  .header__left-img {
    max-width: 358px; }
  .header__title {
    font-size: 27px;
    line-height: 54px; }
  .header__right {
    padding: 0; }
  .header__contacts {
    margin-top: 0; }
    .header__contacts-link {
      font-size: 15px; }
    .header__contacts-item {
      margin-top: 15px; }

  .content__title {
    font-size: 30px; }
  .content .experience__ul-list .content__education-data {
    width: 40px; }
  .content .experience__ul-list .experience__ul-wrapper-title {
    margin-left: 20px; }
  .content .experience__ul-list .content__education-title {
    line-height: 19px; }
  .content .experience__ul-list .content__education-descr {
    margin-left: 20px; }

  .resume__contacts {
    margin-top: 75px; }
  .resume__name {
    text-align: center; }
  .resume__info {
    margin-left: 43px; } }
@media (max-width: 768px) {
  .container {
    width: 540px; }

  .navigation {
    display: none; }

  .header {
    padding: 20px; }
    .header__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .header__left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .header__left-img {
        max-width: 300px;
        height: 384px; }
    .header__nav {
      display: block;
      margin-top: 15px; }
      .header__nav ul {
        list-style-type: none; }
        .header__nav ul li {
          width: auto;
          margin-bottom: 20px;
          text-align: right; }
          .header__nav ul li a {
            font-size: 26px;
            color: #000; }
    .header h1 {
      margin-top: 20px;
      text-align: center; }
    .header__title {
      text-align: center; }
    .header__contacts {
      margin: 0 auto; }

  .portfolio__item {
    width: 80%;
    margin-top: 40px; }
  .portfolio__title {
    margin-top: 20px;
    font-size: 30px;
    line-height: 25px; }

  .resume__name {
    font-size: 22px;
    padding: 0; }
  .resume__info {
    margin-left: 0; }
    .resume__info-item {
      margin: 7px 0 0 0;
      font-size: 12px;
      line-height: 1; }
  .resume__education ol {
    padding: 1px; }
  .resume__skills ol {
    padding: 1px; }

  .content__title {
    font-size: 25px; } }
@media (max-width: 576px) {
  .container {
    width: 320px; }

  .header {
    padding: 15px; }
    .header__left {
      -webkit-box-pack: unset;
          -ms-flex-pack: unset;
              justify-content: unset; }
      .header__left-img {
        max-width: 170px;
        height: 213px; }
    .header__nav {
      margin-left: 8px; }
      .header__nav ul li a {
        font-size: 16px; }
    .header h1 {
      font-size: 30px; }
    .header__title {
      font-size: 20px; }
    .header__contacts {
      width: 280px; }
      .header__contacts-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      .header__contacts-item {
        width: unset; }

  .content {
    padding: 10px; }
    .content__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .content__title {
      text-align: center; }
    .content .experience__ul-list .experience__ul-wrapper-title {
      width: 260px; }
    .content .experience__ul-list .content__education-descr-first {
      width: 250px; }

  #education {
    width: initial; }

  .right-block {
    margin-top: 30px;
    width: initial; }

  .resume__contacts-photo {
    display: none; } }

/*# sourceMappingURL=style.css.map */