* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

//-----------navigation panel------------//

.navigation {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  height: 50px;
  color: white;
  &__ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  &__link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    &:hover {
      color: rgb(206, 200, 200);
    }
  }
}

//------header----------//
.header {
  padding: 62px 0 10px 0;
  background-color: #f3f6f9;
  &__wrapper {
    display: flex;
  }
  &__right {
    padding: 27px;
  }
  &__left {
    &-img {
      width: 380px;
    }
  }
  &__nav {
    display: none;
  }
  h1 {
    width: 100px;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    margin: 0;
  }
  &__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 84px;
  }
  &__contacts {
    margin-top: 10px;
    &-list {
      display: flex;
      max-width: 100%;
      flex-wrap: wrap;
    }
    &-item {
      margin-top: 20px;
      list-style-type: none;
      width: 50%;
    }
    &-title {
      color: black;
      font-weight: 700;
      font-size: 20px;
    }
    &-link {
      color: black;
      text-decoration: none;
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
      &:hover {
        color: #919197;
      }
    }
  }
}

//-----------content------------//
.content {
  padding: 10px 0 10px 0;
  background-color: #f3f6f9;
  &__wrapper {
    display: flex;
    justify-content: space-around;
  }
  &__title {
    font-weight: 700;
    font-size: 43px;
    line-height: 80px;
    letter-spacing: 6px;
    text-align: center;
  }
  ul {
    li {
      margin-top: 25px;
      color: #555;
      list-style-type: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .experience {
    &__ul {
      &-list {
        display: flex;
        .content__education-data {
          width: 100px;
        }
        .experience__ul-wrapper-title {
          width: 571px;
        }
        .content__education-title {
          color: #555;
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
        }
        .content__education-descr-first {
          margin-top: 10px;
        }
      }
    }
  }
  &__skills {
    &-list {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      list-style-type: none;
      margin: 0.5vh 2vh;
      span {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        background-color: #edeff0;
        border: 1px solid transparent;
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 11px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
}

#education {
  width: 40%;
}

.right-block {
  width: 60%;
}

#skills {
  margin-top: 20px;
}

//---------portfolio------------//
.portfolio {
  background-color: #f0f0f0;
  padding: 10px 0;
  &__title {
    color: black;
    font-weight: 500;
    font-size: 43px;
    line-height: 80px;
    letter-spacing: 6px;
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  &__item {
    list-style-type: none;
    width: 40%;
    margin: 0 0 3vh 0;
  }
  &__img {
    width: 100%;
    height: 85%;
    -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  &__description {
    span {
      a {
        text-decoration: underline;
        color: black;
      }
    }
  }
}

//-------------resume---------------//

.resume {
  background-color: #f3f6f9;
  padding: 10px 0;
  &__wrapper {
    color: #000;
    background: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 10%;
  }
  &__title {
    width: 210px;
    float: right;
    text-align: right;
    font-size: 15px;
  }
  &__contacts {
    display: flex;
    margin-top: 20px;
    &-photo {
      max-width: 238px;
      margin: 0 30px 30px 30px;
    }
    &-img {
      width: 100%;
    }
  }
  &__name {
    padding: 14px 0 27px 0;
    font-size: 27px;
  }
  &__info {
    color: #000;
    list-style-type: none;
    &-item {
      margin: 10px 0 0 0;
      font-size: 14px;
      line-height: 1.5;
      span {
        font-weight: 500;
        strong {
          font-size: 14px;
          line-height: 1.428571429;
          font-weight: bold;
        }
      }
      a {
        color: #00afea;
        text-decoration: none;
      }
    }
  }
  &__education {
    margin-top: 33px;
    ol {
      margin: 16px 0;
      padding: 0 0 0 33px;
      li {
        font-size: 13px;
        margin-top: 10px;
      }
    }
  }
  &__merit {
    margin-top: 33px;
  }
  &__skills {
    margin-top: 33px;
    ol {
      margin: 16px 0;
      padding: 0 0 0 33px;
      li {
        font-size: 13px;
        margin-top: 10px;
      }
    }
  }
}

//----------@media-------------//

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .navigation {
    &__ul {
      justify-content: space-around;
    }
  }
  .header {
    h1 {
      width: initial;
    }
  }
}

@media (max-width: 992px) {
  .container {
    width: 720px;
  }
  .header {
    h1 {
      font-size: 40px;
      line-height: 65px;
    }
    &__left {
      &-img {
        max-width: 358px;
      }
    }
    &__title {
      font-size: 27px;
      line-height: 54px;
    }
    &__right {
      padding: 0;
    }
    &__contacts {
      margin-top: 0;
      &-link {
        font-size: 15px;
      }
      &-item {
        margin-top: 15px;
      }
    }
  }

  .content {
    &__title {
      font-size: 30px;
    }

    .experience {
      &__ul {
        &-list {
          .content__education-data {
            width: 40px;
          }
          .experience__ul-wrapper-title {
            margin-left: 20px;
          }
          .content__education-title {
            line-height: 19px;
          }
          .content__education-descr {
            margin-left: 20px;
          }
        }
      }
    }
  }

  .resume {
    &__contacts {
      margin-top: 75px;
    }
    &__name {
      text-align: center;
    }
    &__info {
      margin-left: 43px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 540px;
  }
  .navigation {
    display: none;
  }

  .header {
    padding: 20px;
    &__wrapper {
      flex-direction: column;
    }
    &__left {
      display: flex;
      justify-content: space-between;
      &-img {
        max-width: 300px;
        height: 384px;
      }
    }
    &__nav {
      display: block;
      margin-top: 15px;
      ul {
        list-style-type: none;
        li {
          width: auto;
          margin-bottom: 20px;
          text-align: right;
          a {
            font-size: 26px;
            color: #000;
            // text-decoration: none;
          }
        }
      }
    }
    h1 {
      margin-top: 20px;
      text-align: center;
    }
    &__title {
      text-align: center;
    }
    &__contacts {
      margin: 0 auto;
    }
  }
  .portfolio {
    &__item {
      width: 80%;
      margin-top: 40px;
    }
    &__title {
      margin-top: 20px;
      font-size: 30px;
      line-height: 25px;
    }
  }

  .resume {
    &__name {
      font-size: 22px;
      padding: 0;
    }
    &__info {
      margin-left: 0;
      &-item {
        margin: 7px 0 0 0;
        font-size: 12px;
        line-height: 1;
      }
    }
    &__education {
      ol {
        padding: 1px;
      }
    }
    &__skills {
      ol {
        padding: 1px;
      }
    }
  }
  .content {
    &__title {
      font-size: 25px;
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 320px;
  }
  .header {
    padding: 15px;
    &__left {
      justify-content: unset;
      &-img {
        max-width: 170px;
        height: 213px;
      }
    }
    &__nav {
      margin-left: 8px;
      ul {
        li {
          a {
            font-size: 16px;
          }
        }
      }
    }
    h1 {
      font-size: 30px;
    }
    &__title {
      font-size: 20px;
    }
    &__contacts {
      width: 280px;
      &-list {
        flex-direction: column;
      }
      &-item {
        width: unset;
      }
    }
  }

  .content {
    padding: 10px;
    &__wrapper {
      flex-direction: column;
    }
    &__title {
      text-align: center;
    }
    .experience {
      &__ul {
        &-list {
          .experience__ul-wrapper-title {
            width: 260px;
          }
          .content__education-descr-first {
            width: 250px;
          }
        }
      }
    }
  }

  #education {
    width: initial;
  }
  .right-block {
    margin-top: 30px;
    width: initial;
  }

  .resume {
    &__contacts {
      &-photo {
        display: none;
      }
    }
  }
}
